img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h2 {
  font-weight: bold;
  text-decoration-line: underline;
}
.rate-order {
  width: 25%;
}
@media only screen and (max-width: 992px) {
 .content-card {
  text-align: center;
 }
 .rate-order {
  width: 75%;
 }
 img {
  margin-bottom: 16px;
 }
}
