<div class="pt-xl pb-xl position-relative">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="mb-lg text-center">
          <h1 class="fs-lg">
            {{'sidebar.easy' | translate}}
          </h1>
        </div>
        <form>
          <div class="mb-xs">
            <div class="icons-input">
              <textarea
                class="form-control"
                cols="30"
                rows="15"
                name="contact"
                placeholder="Write You Order"
              ></textarea>
            </div>
            <button type="button" class="btn btn-dark w-100 mt-md">Order Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="shape">
    <img src="assets/images/curve1.png" class="shape-top">
  </div>
</div>
