<div class="pt-xl pb-xl position-relative">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-xl-5">
        <img src="assets/images/2.png" alt="login image" class="img-fluid">
        <div class="mb-lg d-lg-none"></div>
      </div>
      <div class="col-lg-6">
        <div class="mb-lg">
          <h1 class="fs-lg">
            {{"auth.forgetPass" | translate}}
          </h1>
        </div>
        <form>
          <div class="mt-lg mb-sm">
            <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)" (fill)="handleFillEvent($event)">
            </ngx-otp-input>
          </div>
          <div class="mt-lg mb-sm">
            <label for="password" class="form-label">{{"auth.password" | translate}}</label>
              <div class="icons-input">
                <span class="icons-input-end cursor">
                  <svg-icon [src]="
                      fieldPassType
                        ? 'assets/icons/eye.svg'
                        : 'assets/icons/visibilty.svg'
                    " (click)="fieldPassType = !fieldPassType"></svg-icon>
                </span>
                <input [type]="fieldPassType ? 'text' : 'password'" class="form-control" name="password"
                  (keydown.space)="$event.preventDefault()" />
              </div>
          </div>
          <div class="mt-lg mb-sm">
            <label for="password" class="form-label">{{"auth.confirmPassword" | translate}}</label>
            <div class="icons-input">
              <span class="icons-input-end cursor">
                <svg-icon [src]="
                    fieldPassType_2
                      ? 'assets/icons/eye.svg'
                      : 'assets/icons/visibilty.svg'
                  " (click)="fieldPassType_2 = !fieldPassType_2"></svg-icon>
              </span>
              <input [type]="fieldPassType_2 ? 'text' : 'password'" class="form-control" name="password"
                (keydown.space)="$event.preventDefault()" />
            </div>
          </div>
          <button type="submit" class="btn btn-dark w-100 mt-md">{{"auth.resetPass" | translate}}</button>
          <div class="mt-md text-center">
            <a [routerLink]="['/auth/register']" class="text-decoration-underline">
              {{"auth.back" | translate}}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="shape">
    <img src="assets/images/curve1.png" class="shape-top">
  </div>
</div>
