img {
  width: 20%;
}
button {
  width: 25%;
  background-color: #048AAC;
  .reload {
    width: 10%;
  }
}
button:hover {
  background-color: #048AAC;
}
@media only screen and (max-width: 992px) {
  img {
    width: 100%;
  }
  button {
    width: 75%;
  }
}
