<div class="pt-lg pb-lg bg-white">
  <div class="container">
    <div class="mb-lg">
      <h3 class="fs-lg mb-xs">shopping cart</h3>
      <a href="javascript:void(0)">
        <span class="fs-sm text-success">Delete all items</span>
      </a>
    </div>
    <div class="cartCard mb-sm" *ngFor="let item of [].constructor(4); let i = index">
      <div class="cartCard-header mb-xxs">
        <a href="javascript:void(0)">
          <app-image alt="Service image" [src]="'assets/images/shirt.png'" ratio="is-2-2"></app-image>
        </a>
      </div>
      <div class="cartCard-body">
        <div class="mb-xxs d-flex">
          <h4 class="fs-md">t-shirt Cleaning</h4>
          <span class="ms-lg">(200 AUD)</span>
        </div>
        <span>General Service Company</span>
        <div class="mt-md d-flex align-items-center">
          <div class="qtyInput me-sm max-100">
            <span class="qtyInput-icon" (click)="updateCartDetail( 'minus')">- </span>
            {{ qty }}
            <span class="qtyInput-icon" (click)="updateCartDetail( 'plus')"> +</span>
          </div>
          <a href="javascript:void(0)">
            <span class="fs-sm text-success ms-sm">Delete</span>
          </a>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-lg">
      <button class="btn btn-lg btn-primary" [routerLink]="['/cart']">Back To Cart</button>
    </div>
  </div>
</div>
