<section class="pt-xl pb-xl position-relative">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-xl-5">
        <img src="assets/images/3.png" alt="Register image" class="img-fluid">
        <div class="mb-lg d-lg-none"></div>
      </div>
      <div class="col-lg-6">
        <div class="mb-lg text-center">
          <h1 class="fs-lg">
            {{"auth.register" | translate}}
          </h1>
        </div>
        <form [formGroup]="RegisterForm" (ngSubmit)="register(RegisterForm)">
          <div class="row">
            <div class="col-md-6 mb-sm">
              <label for="name" class="form-label">{{"auth.name" | translate}}</label>
              <input type="text" class="form-control" name="name" formControlName="name"/>
            </div>

            <div class="col-md-6 mb-sm">
              <label for="number" class="form-label">{{"auth.number" | translate}}</label>
              <input type="number" class="form-control" name="number" formControlName="phone"/>
            </div>

            <div class="col-md-6 mb-sm">
              <label for="email" class="form-label">{{"auth.email" | translate}}</label>
              <input type="email" class="form-control" name="email" formControlName="email"/>
            </div>

            <div class="col-md-6 mb-sm">
              <label for="age" class="form-label">{{"auth.age" | translate}}</label>
              <input type="number" class="form-control" name="age" formControlName="age"/>
            </div>

            <div class="col-md-6 mb-sm">
              <label for="country" class="form-label">{{"auth.country" | translate}}</label>
              <select class="form-select" name="country" formControlName="country_id">
                <option selected disabled>{{"auth.select" | translate}}</option>
                <option value="{{item.id}}" *ngFor="let item of country">{{item.name_en}}</option>
              </select>
            </div>

            <div class="col-md-6 mb-sm">
              <label for="address" class="form-label">{{"auth.address" | translate}}</label>
              <input type="text" class="form-control" name="address" formControlName="address"/>
            </div>

            <div class="col-md-6 mb-sm">
              <label for="password" class="form-label">{{"auth.password" | translate}}</label>
              <div class="icons-input">
                <span class="icons-input-end cursor">
                  <svg-icon [src]="
                      fieldPassType
                        ? 'assets/icons/eye.svg'
                        : 'assets/icons/visibilty.svg'
                    " (click)="fieldPassType = !fieldPassType"></svg-icon>
                </span>
                <input [type]="fieldPassType ? 'text' : 'password'" class="form-control" name="password"
                  (keydown.space)="$event.preventDefault()" formControlName="password"/>
              </div>
            </div>

            <div class="col-md-6 mb-sm">
              <label for="confirm" class="form-label">{{"auth.confirmPassword" | translate}}</label>
              <div class="icons-input">
                <span class="icons-input-end cursor">
                  <svg-icon [src]="
                      fieldConfirmPassType
                        ? 'assets/icons/eye.svg'
                        : 'assets/icons/visibilty.svg'
                    " (click)="fieldConfirmPassType = !fieldConfirmPassType"></svg-icon>
                </span>
                <input [type]="fieldConfirmPassType ? 'text' : 'password'" class="form-control" name="confirm"
                  (keydown.space)="$event.preventDefault()" formControlName="confirm_password"/>
              </div>
            </div>

            <div class="col-md-6 mb-sm">
              <label class="form-label">{{"auth.gender" | translate}}</label>
              <div class="d-flex">
                <div class="form-check me-md">
                  <label class="form-check-label" for="flexRadioDefault1">{{"auth.male" | translate}}</label>
                  <input class="form-check-input" type="radio" id="flexRadioDefault1" value="male" formControlName="gender">
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="flexRadioDefault2">{{"auth.female" | translate}}</label>
                  <input class="form-check-input" type="radio"
                   id="flexRadioDefault2" value="female" formControlName="gender">
                </div>
              </div>
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
              <p>{{errorMessage}}</p>
            </div>
            <button type="submit" class="btn btn-dark w-100 mt-md" [disabled]="RegisterForm.invalid || RegisterForm.get('password')?.value !== RegisterForm.get('confirm_password')?.value">{{"auth.signUp" | translate}}</button>

            <div class="mb-xs mt-md">
              <a [routerLink]="['/auth/login']" class="text-decoration-underline">
                {{"auth.alreadyHaveAcc" | translate}} <span class="text-primary">{{"auth.login" | translate}}</span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="shape">
    <img src="assets/images/curve1.png" class="shape-top">
  </div>
</section>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#D6E3EC" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
