<footer>
  <div class="pt-3 pb-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between flex-wrap mt-3 mb-3">
        <div class="d-flex">
          <p class="mb-0">
            {{title}}
          </p>
          <div class="icons">
            <a href="{{facebookLink}}" title="facebook" target="_blank">
              <svg-icon src="assets/icons/facebook.svg" class="fs-sm"></svg-icon>
            </a>
            <a href="{{instgramLink}}" title="instagram" target="_blank">
              <svg-icon src="assets/icons/instagram.svg" class="fs-md"></svg-icon>
            </a>
            <a href="{{twitterLink}}" title="twitter" target="_blank">
              <svg-icon src="assets/icons/twitter.svg" class="fs-md"></svg-icon>
            </a>
            <a href="{{whatsAppLink}}" title="whatsapp" target="_blank">
              <svg-icon src="assets/icons/whatsapp.svg" class="fs-md"></svg-icon>
            </a>
            <a href="https://wa.me/{{phoneNumber}}" title="phone" target="_blank">
              <svg-icon src="assets/icons/phone.svg" class="fs-md"></svg-icon>
            </a>
          </div>
        </div>
        <div>
          <img src="assets/images/egypt.png" alt="image" width="45px">
          <span class="ms-xs">{{'footer.egypt' | translate}}</span>
        </div>
      </div>
      <p class="mb-3">
        {{content}}
      </p>
    </div>
  </div>
</footer>
