<div class="pt-xl pb-xl position-relative">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-xl-5">
        <img src="assets/images/2.png" alt="login image" class="img-fluid">
        <div class="mb-lg d-lg-none"></div>
      </div>
      <div class="col-lg-6">
        <div class="mb-lg">
          <h1 class="fs-lg">
            {{"auth.forgetPass" | translate}}
          </h1>
        </div>
        <form [formGroup]="ForgetPasswordForm" (ngSubmit)="forgetPasswordForm(ForgetPasswordForm)">
          <div class="mt-lg mb-sm">
            <label for="email" class="form-label">{{"auth.email" | translate}}</label>
            <div class="icons-input">
              <span class="icons-input-start">
                <svg-icon src="assets/icons/email.svg"></svg-icon>
              </span>
              <input type="email" placeholder="{{'auth.enterEmail' | translate}}" class="form-control" name="email" formControlName="email"/>
            </div>
          </div>
          <button type="submit" class="btn btn-dark w-100 mt-md">{{"auth.resetPass" | translate}}</button>
          <div class="mt-md text-center">
            <a [routerLink]="['/auth/register']" class="text-decoration-underline">
              {{"auth.back" | translate}}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="shape">
    <img src="assets/images/curve1.png" class="shape-top">
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#D6E3EC" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
