<div class="offerCard">
    <div class="offerCard-header">
      <a class="offerCard-header-thumb d-block" href="javascript:void(0)">
        <app-image src="assets/images/offer-img.png"></app-image>
      </a>
    </div>
    <div class="offerCard-main">
      <p class="offerCard-title mb-0">{{"shared.ramadan" | translate}}</p>
      <div class="offerCard-details">
        <span class="fs-sm">{{"shared.tshirts" | translate}}</span>
        <div class="d-flex align-items-center justify-content-between">
          <span class="fs-sm">109.00 {{"shared.eg" | translate}}</span>
          <button class="btn btn-success offerCard-btn">{{"shared.add" | translate}}</button>
        </div>
      </div>
    </div>
</div>
